body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #333;
}

/* HERO */
.hero {
    background-image: url("Photos/hero.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;

    text-align: center;
    padding: 50px 5px;
    color: white;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    background-size: 100% auto;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    gap: 1px;  /* controls spacing between h1, p, button */
    align-items: center;
}

.profile-pic {
    width: 280px;
    height: 280px;
    border-radius: 1%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: #2a5298;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #ddd;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

.dark {
    background: #e9eef7;
}

/* SKILLS GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* PROJECTS */
.project {
    background: white;
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1e3c72;
    color: white;
}

.profile-pic {
    width: 150px;      /* display size */
    height: 150px;
    object-fit: cover; /* prevents distortion */
    border-radius: 50%; /* optional circle */
}